<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="Holiday honoree e-card" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body
    style="background-color: #D4EDF1; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 17px"
  >
    <img
      src="https://i.ibb.co/7VVvkGk/top-photo.png"
      alt="top-photo"
      border="0"
      style="display: flex; width: 640px; margin: auto; margin-top: 20px;"
    />
    <div style="margin: 0 20px 0 20px">
      <h1 style="margin-top: 22px;">Dear {{honoreeName}},</h1>
      <section style="line-height: 20px;">
        <p>
          This note is to let you know that
          {{honorerFirstName}}
          {{honorerLastName}}
          has made a very generous donation to Common Threads Project in your
          honor this holiday season. We are deeply grateful that they chose to
          honor you in this way.</p>

        <p>This gift will bring enduring and transformative healing to more
          people who have been subjected to gender based violence, war, and
          displacement around the world. In CTP circles, women, girls, and
          people of all genders have the opportunity to experience the healing
          that they so urgently need and deserve.</p>

        <img
          src="https://i.ibb.co/MCr76qG/bottom-photo.png"
          alt="bottom-photo"
          border="0"
        />
        <p> <em> {{messageFromHonorer}} </em> </p>

        <p>P.S. More information on the work of Common Threads Project can be
          found
          <a
            href="https://commonthreadsproject.org/"
            target="_blank"
            rel="noopener noreferrer"
          >here </a>.</p>
      </section>
      <footer>
        <ul style="list-style: none; margin-left: 0; padding-left: 0">
          <li style="margin: 5px">With gratitude and best wishes,</li>
          <li style="margin: 10px 0">
            <img
              src="https://iili.io/dbhHP0G.png"
              alt="signature"
              width="150px"
              height="50px"
            />
          </li>

          <section style="display:flex; gap: 20px;">
            <div>
              <li style="margin: 5px">Vesna Golic.</li>
              <li style="margin: 5px">Executive Director</li>
              <li style="margin: 5px">Common Threads Project</li>
            </div>
            <li>
              <img
                src="https://images.squarespace-cdn.com/content/v1/5b7eeaf2c258b4a04473be79/1563828132352-Y3LYHVJEF6K6ACTZTM4I/masterlogo+transparent.png"
                alt="organization logo"
                width="150px"
                height="100px"
                style="padding-left: 50px"
              />
            </li>
          </section>

          <div style="margin-top: -30px">
            <li style="margin-left: 3px"><a
                href="www.commonthreadsproject.org"
                target="_blank"
                rel="noopener noreferrer"
              >www.commonthreadsproject.org</a></li>
            <li>
              <p>Follow us on
                <a
                  href="https://www.facebook.com/CommonThreadsProject/"
                  target="_blank"
                  rel="noopener noreferrer"
                >Facebook</a>,
                <a
                  href="https://twitter.com/commonthreadspr"
                  target="_blank"
                  rel="noopener noreferrer"
                >Twitter</a>,
                <a
                  href="https://www.instagram.com/commonthreadsproject/"
                  target="_blank"
                  rel="noopener noreferrer"
                >Instagram</a>, and
                <a
                  href="https://www.linkedin.com/company/9446569/"
                  target="_blank"
                  rel="noopener noreferrer"
                >LinkedIn</a></p>
            </li>
            <li>ph: +1 301 928 7907</li>
            <li>25 Plaza Street West Apt. 3F</li>
            <li>Brooklyn, N.Y. 11217</li>
          </div>
        </ul>
      </footer>
    </div>

  </body>
</html>